body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.flex {
  display: flex;
}

.flex-d-row {
  flex-direction: row;
}

.flex-jc-c {
  justify-content: center;
}

.flex-ai-c {
  align-items: center;
}

.flex-jc-sb {
  justify-content: space-between;
}

.hidden {
  display: none;
}

.active {
  display: inline-block;
}

/* Animations for intro */

.fadeIn1 {
  animation: fadeIn 1.0s ease-in;
  /* animation-delay: 1s; */
}

.fadeIn2 {
  animation: fadeIn 3.0s ease-in;
  /* animation-delay: 3s; */
}

.fadeIn3 {
  animation: fadeIn 5.0s ease-in;
  /* animation-delay: 5s; */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
